@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: linear-gradient(
    359.6deg,
    rgb(14, 13, 13) 111.2%,
    rgb(17, 16, 16) 178.6%
  );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.frame-container {
  background-image: linear-gradient(
    360deg,
    rgb(202, 45, 45) 111.2%,
    rgb(224, 104, 5) 178.6%
  );
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
